xml/visitas.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

    <xs:element name="visitas">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="visita" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="fecha" type="xs:date"/>

                            <xs:element name="hora">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:pattern value="([01][0-9]|2[0-3]):[0-5][0-9]"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>

                            <xs:element name="pagina">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="Index"/>
                                        <xs:enumeration value="Contacto"/>
                                        <xs:enumeration value="Analisis"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>

                            <xs:element name="navegador">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="Chrome"/>
                                        <xs:enumeration value="Firefox"/>
                                        <xs:enumeration value="Edge"/>
                                        <xs:enumeration value="Safari"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
            
                            <xs:element name="duracion">
                                <xs:simpleType>
                                    <xs:restriction base="xs:integer">
                                        <xs:minInclusive value="1"/>
                                        <xs:maxInclusive value="3600"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>

                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>